@{
    ViewData["Title"] = "Access was denied";
}

<div class="d-flex justify-content-center">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You do not have the right permissions to access this page</p>
    </div>
</div>