@{
    ViewData["Title"] = "Access was denied";
}

<div class="access-denied d-flex justify-content-center">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <h1>You do not have the right permissions to access this page</h1>
       
    </div>
</div>