@model ProductDetailsViewModel


<section class="breadcrumb">
    <div class="container">
        <div class="content">
            <h1>SHOP</h1>
            <ul>
                <li>HOME.</li>
                <li>PRODUCT</li>
                <li>DETAILS</li>
            </ul>
        </div>
    </div>
</section>

<section class="image">
    <div class="container">
        <img src="images/products/@Model.ImageUrl" alt="@Model.Name">
        <section class="productdetails">
            <div class="name">@Model.Name</div>
            <div class="description">@Model.Description</div>
                <p class="star-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i> 
                </p>
            <div class="price">@Model.Price$</div>
        </section>
    </div>
</section>






