@{
    ViewData["Title"] = "Backoffice";
}




<div>Backoffice</div>
<h1>Backoffice</h1>
<h1>Backoffice</h1>
<a asp-action="index" asp-controller="addproducts">Add new products</a>
<a asp-action="index" asp-controller="users">Users</a>