@model ContactFormViewModel


<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>

        <form method="post" asp-action="Index" novalidate>
            <div asp-validation-summary="ModelOnly" class="form-group error"></div>

            <div class="name form-group">
                <label asp-for="Name">Your Name*</label>
                <input asp-for="Name" type="text" required>
                <span asp-validation-for="Name"class="error"></span>
                <span id="NameError" class="error"></span>
            </div>

            <div class="email form-group">
                <label asp-for="Email">Your Email*</label>
                <input asp-for="Email" type="text" required>
                <span asp-validation-for="Email" class="error"></span>
                <span id="EmailError" class="error"></span>
            </div>

            <div class="phoneNumber form-group">
                <label asp-for="Phone">Phone Number (optional)</label>
                <input asp-for="Phone" type="text">
            </div>

            <div class="companyName form-group">
                <label asp-for="Company">Company (optional)</label>
                <input asp-for="Company" type="text">
            </div>

            <div class="message form-group">
                <label asp-for="MessageText">Message*</label>
                <textarea asp-for="MessageText" required></textarea>
                <span asp-validation-for="MessageText" class="error"></span>
                <span id="MessageError" class="error"></span>
            </div>

            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="SaveInfo"></label>
                    <input asp-for="SaveInfo">
                    <span class="checkmark"></span>
                </label>

            </div>
            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>


